h1 {color:#ECECEA;}
body {background:#2B2B2B; 
	  color:#ECECEA;}
header {text-align: center;}
footer {text-align: center;
	color:#ECECEA;
        font-size: 0.75em;}
body {text-align: center;}
body {font-family:arial;}
.hyperlinks:link {color:#D9853B;
		text-decoration:none;}
.hyperlinks:visited {color:#D9853B;}
.gallery {
  max-width:100%;
  margin: 0 auto;
  padding: 2px;
  background: #fff;
  box-shadow: 0 1px 2px rgba(0,0,0,.3);}
.gallery > div {
  position: relative;
  float: center;
  padding: 5px;}
.gallery > div > img {
  display: block;
  max-width:100%;}
.gallery {background-color:#2B2B2B;}

.memeimage {width: 80%;}

.price {color:#2ECC71;}
.cart:link {color:#ECECEA;
		background-color:#DE1B1B;
    	color: white;
    	padding: 14px 25px;
    	text-align: center; 
    	text-decoration: none;
    	display: inline-block;
    	box-shadow: 3px 3px 3px #000000;}
.cart:visited {color:#ECECEA;}
.cart:hover {color:#17202A;}
.cart {font-family:arial;}
.merch {max-height: 500px;
		max-width: 100%;}
p {font-size: 1.15em;
   width: 100%;
   margin-right: auto;
   margin-left: auto;}

/*Desktop CSS*/

@media only screen and (min-width: 769px) {

p {font-size: 1.5em;
   width: 70%;
   margin-right: auto;
   margin-left: auto;}
   
.gallery {
  max-width:100%;
  margin: 0 auto;
  padding: 10px;
  background: #fff;
  box-shadow: 0 1px 2px rgba(0,0,0,.3);}
.gallery > div {
  position: relative;
  float: left;
  padding: 5px;}
.gallery > div > img {
  display: block;
  max-width:100%;}
.gallery {background-color:#2B2B2B;}

.memeimage {width: 200px; height: 200px;}

#container {margin-left: 15%;
			margin-right: 15%;}

}


/*side navigation bar*/


.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #1D1D1D;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #ECECEA;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #DE1B1B;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
